.hero {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
  box-sizing: border-box;
}

/* LEFT SIDE (IMAGE) */
.hero-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-left img {
  width: 500px;
  height: 320px;
  object-fit: cover;
  border-radius: 20px;
}

/* RIGHT SIDE (TEXT) */
.hero-right {
  flex: 1;
}

.hero-right h1 {
  font-size: 65px;
  color: #ffd700;
  margin-bottom: 10px;
}

.hero-right p {
  font-size: 24px;
  margin-bottom: 20px;
}

/* BUTTON */
.hero-right button {
  background: #ffd700;
  border: none;
  padding: 14px 35px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-right button:hover {
  background: #ffcc00;
  transform: scale(1.05);
}