.notifications-container {

  min-height: 100vh;

  padding: 50px;

  background: #081629;

  color: white;
}

.light-theme
.notifications-container {

  background: #eef4ff;

  color: black;
}

.notifications-container h1 {

  text-align: center;

  margin-bottom: 40px;
}

.notification-card {

  background: #1b2b47;

  padding: 20px;

  margin-bottom: 20px;

  border-radius: 15px;

  font-size: 18px;
}

.light-theme
.notification-card {

  background: white;
}